# =========================
# Gradle
# =========================
.gradle/
build/

# Ignore Gradle cache
**/build/
**/.gradle/

# =========================
# Compiled files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
